[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==6.2.5"
pytest-watch = "==4.2.0"
isort = "==5.6.4"
flake8 = "==3.9.2"
flake8-isort = "==4.0.0"
mypy = "==0.910"
bson = "*"
schema = "==0.7.4"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"
